/* rubik-regular - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v12-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v12-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v12-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v12-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-v12-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v12-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
	box-sizing: border-box;
}
*,
*::before,
*::after{
	box-sizing: inherit;
}
body{
	font-family: 'Rubik', sans-serif;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
p{
	display: inline-block;
	margin: 0;
	padding: 0;
}
h3{
	padding: 0;
	margin: 0;
}
header{
	background-color: #F6F6F9;
	border: 1px solid transparent;
}
.container{
	width: 1250px;
	margin: 0px auto;
	margin-top: 40px;
}
.header-container{
}
.head{
	display: flex;
	align-items: center;
}
.logo{
	font-weight: bold;
    font-size: 28px;
    letter-spacing: 1px;
    color: #295091;
    background-color: white;
    padding: 3px 5px;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
}
.logo:hover{
	box-shadow: 0 0 10px 1px lightblue;
}
.logo:active{
	opacity: 0.5;
}
.kurs{
	display: flex;
	margin-right: auto;
}
.kurs-item{
	font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #285193;
    margin-left: 20px;
}
.header-input{
	border: none;
	outline: none;
	width: 40px;
	height: 40px;
    border-radius: 5px;
	background-image: url(../img/search.svg);
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 22px;
	transition: width 0.2s linear;
}
.header-input:focus{
	background-image: none;
	width: 120px;
}
.language-changer{
	width: 64.76px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
}
.language-link{
	display: flex;
	justify-content: center;
	align-items: center;
}
.language-img{
	border-radius: 50%;
}
.ru{
	font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
}
.tg-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 146px;
    height: 40px;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    outline: none;
}
.tg-link:hover{
	 background: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
}
.tg-link:active{
	opacity: 0.5;
}
.tg{
	font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 7px;
}
nav{
	background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
    width: 100%;
    height: 68px;
    margin-top: 44px;
    border: 0.1px solid transparent;
}
.nav-list{
	display: flex;
	justify-content: space-around;
	margin: 22px 24px;
}
.nav-link{
	font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #515151;
    padding-bottom: 5px;
    transition: border 0.1s ease;
}
.nav-link:hover{
	border-bottom: 2px solid #515151;
}
.nav-link:active{
	opacity: 0.5;
}
.active{
	color: #295091;
}
.header-aside{
	border: 1px solid #E0E0E0;
    margin-top: 18px;
    margin-bottom: 27px;
}
.aside-img{
	display: block;
}
.corona-info{
	width: 1250px;
    height: 133px;
    background: #F6F6F9;
    border-radius: 5px;

}
.coronna-info-list{
	display: flex;
	align-items: center;
}
.corona-info-item{
    display: flex;
    margin-top: 41px;
    margin-left: 60px;
}
.carona-disaster{
	display: flex;
	font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
	width: 300px;
}
.carona-disaster:before{
	content:"";
	background-image: url(../img/corona-icon.svg);
	background-size: 43px 45px;
	background-position: cover;
	background-repeat: no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 25px;
}
.ill{
	display: flex;
	flex-direction: column;
	font-size: 18px;
    line-height: 21px;
    width: 61px;
    height: 52px;
}
.corona-info-item:nth-child(2){
	border-left: 2px solid  #EB5569;
	padding-left: 30px;
	margin-right: 60px;
}
.corona-info-item:nth-child(2):before{
	content:"";
	background-image: url(../img/ill-icon.svg);
	background-size: 43px 45px;
	background-position: cover;
	background-repeat: no-repeat;
	width: 60px;
	height: 45px;
}
.ill-info{
	display: inline-block;
	font-size: 18px;
    line-height: 21px;
    color: #DB0000;
}
.ill-number{
	margin-top: 5px;
	font-weight: 500px;
    font-size: 25px;
    color: #000000;
}
.corona-info-item:nth-child(3){
	border-left: 2px solid #F4CCD1;
	padding-left: 30px;
	margin-right: 60px;
}
.corona-info-item:nth-child(3):before{
	content:"";
	background-image: url(../img/smile.icon.svg);
	background-size: 43px 45px;
	background-position: cover;
	background-repeat: no-repeat;
	width: 60px;
	height: 45px;
}
.healthy{
	display: flex;
	flex-direction: column;
	font-size: 18px;
    line-height: 21px;
    width: 61px;
    height: 52px;
}
.healthy-info{
	font-size: 18px;
    line-height: 21px;
    color: #05B135;
}
.healthy-number{
	font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.corona-info-item:nth-child(4){
	border-left: 2px solid #F4CCD1;
	padding-left: 30px;
}
.corona-info-item:nth-child(4):before{
	content:"";
	background-image: url(../img/dead-icon.svg);
	background-size: 43px 45px;
	background-position: cover;
	background-repeat: no-repeat;
	width: 60px;
	height: 45px;
}
.dead{
	display: flex;
	flex-direction: column;
	font-size: 18px;
    line-height: 21px;
    width: 61px;
    height: 52px;
}
.dead-info{
	font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.number-dead{
	font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.main-news{
	margin-top: 20px;
}
.main-news-list{
	display:flex;
	justify-content: space-between;
	margin-bottom: 18px;
}
.main-news-item{
	width: 387px;
}
.main-news-link{
	display: flex;
	flex-direction: column;
}
.main-news-link:hover{
	text-decoration: underline;
}
.main-news-link:active{
	opacity: 0.5;
}

.main-news-p{
	font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-top: 11px;
    margin-bottom: 11px;
}
.main-news-time{
	font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
}
.main-news-aside{
	display: flex;
	align-items: center;
	width: 100%;
	height: 91px;
	background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.main-aside-img{
	margin-left: 35px;
	margin-right: 20px;
}
.main-aside-p{
	font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-right: auto;
}
.main-aside-link{
	background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF; 
    padding: 8px 13px;
    margin-right: 30px;
}
.main-aside-link:hover{
	background: linear-gradient(90deg, rgba(255, 139, 54, 0.9) 0%, #FE5C28 88.43%);
}
.main-aside-link:active{
	opacity: 0.5;
}
.last-news{
	display: flex;
	margin-bottom: 40px;
}
.last-news-h2{
	font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.left-news-itme{
	display: flex;
	width: 850px;
	margin-bottom: 20px;
}
.left-news-item-sours{
	margin-left: 20px;
}
.left-news-h3{
	font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-bottom: 15px;
}
.left-news-h3:hover{
	text-decoration: underline;
}
.left-news-h3:active{
	opacity: 0.5;
}
.left-news-p{
	font-size: 15px;
    line-height: 18px;
    color: #434343;
    margin-bottom: 20px;
}
.left-news-time{
	display: flex;
	align-items: center;
}
.left-news-time-span{
	font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}
.large-news{
	margin-left: 400px;
	background: #295093;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 32px;
}
.large-news:hover{
	box-shadow: 0 0 10px 2px lightblue;
}
.large-news:active{
	opacity: 0.5;
}
.right-news{
	width: 386px;
    background: #F6F6F9;
    border-radius: 5px;
    padding: 18px 25px;
    border: 0.1px solid transparent;
}
.reigt-news-title{
	font-size: 20px;
    line-height: 24px;
    color: #202020;
}
.right-news-item{
	border-bottom: 4px solid #E4E4E4;
	padding-bottom: 20px;
}
.right-news-item:last-child{
	border-bottom: none;
}
.right-news-p{
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 17px;
    line-height: 20px;
    color: #202020;
}
.right-news-p:hover{
	text-decoration: underline;
}
.right-news-p:active{
	opacity: 0.5;
}
.right-news-time{
	font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}
.ucell-link{
	display: inline-block;
	margin-top: 30px;
}
.ucell-link img{
	display: block;
}
.ucell-link:hover{
	box-shadow: 0 0 10px 2px lightblue;
}
.ucell-link:active{
	opacity: 0.5;
}
.advertisement{
	width: 100%;
	background: #F6F6F9;
    border-radius: 5px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.info{
	width: 540px;
	border: 0.1px solid transparent;
}
.info-h3{
	font-size: 24px;
    line-height: 28px;
    color: #295093;
    letter-spacing: 1px;
}
.info-p{
	margin-top: 10px;
	font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.apps{
	margin-left: 100px;
	margin-right: 20px;
}
.apps img{
	display: block;
}
.apps:hover{
	box-shadow: 0 0 10px 1px blue;
}
.apps:active{
	opacity: 0.5;
}
.apps-2 img{
	display: block;
}
.apps-2:hover{
	box-shadow: 0 0 10px 1px blue;
}
.apps-2:active{
	opacity: 0.5;
}
footer{
	background-color: #295093;
	padding: 20px 0px;
}
.footer-tg-adress{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 3px solid #133C82;
}
.footer-link{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 194px;
    height: 38px;
    background: #133C82;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.footer-link:hover{
	box-shadow: 0 0 0px 2px black;
}
.footer-link:active{
	opacity: 0.5;
}
.footer-tg-p{
	font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.footer-tg-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 132px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 5px;
}
.footer-tg-link:hover{
	box-shadow: 0 0 0px 2px black;
}
.footer-tg-link:active{
	opacity: 0.5;
}
.footer-tg-link-p{
	font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
    margin-left: 5px;
}
.info-site{
	display: flex;
	margin-top: 20px;
}
.about-site{
	width: 365px;
    height: 121px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.about-site-p{
	margin-top: 10px;
}
.contackt-links{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px 120px;
	width: 163px;
	height: 106px;
}
.contackt-link{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.contackt-link:hover{
	opacity: 0.7;
}
.contackt-link:active{
	opacity: 0.5;
}
.sources{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 225px;
    height: 80px;
}
.documents{
	font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.documents:hover{
	opacity: 0.7;
}
.documents:active{
	opacity: 0.5;
}
/*.dialog-open{
	display: flex;
}*/
.dialog-close{
	display: none;
}
.dialog{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
.dialog-open{
	display: flex;
}
.modal-window{
    width: 919px;
    height: 231px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
    border-radius: 5px;
    padding: 15px;
}
.cencel{
    display: block;
	margin-left: auto;
	border: none;
	background: none;
    font-size: 30px;
    outline: none;
}
.cencel:hover{
	color: lightblue;
}
.cencel:active{
	opacity: 0.5;
}
.madal-window-h2{
	font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: #295093;
    margin: 30px 50px 0px 50px;
}
.subscribe{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: none;
	outline: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 5px;
    width: 150px
}
.subscribe:hover{
	box-shadow: 0 0 10px 1px lightblue;
}
.subscribe:active{
	opacity: 0.5;
}
