/* rubik-regular - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v12-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v12-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v12-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v12-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-v12-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v12-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
	box-sizing: border-box;
}
*,
*::before,
*::after{
	box-sizing: inherit;
}
body{
	font-family: 'Rubik', sans-serif;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
h3{
	padding: 0;
	margin: 0;
}
header{
	background-color: #F6F6F9;
	border: 1px solid transparent;
}
.container{
	width: 1250px;
	margin: 0px auto;
	margin-top: 40px;
}
.header-container{
}
.head{
	display: flex;
	align-items: center;
}
.logo{
	font-weight: bold;
    font-size: 28px;
    letter-spacing: 1px;
    color: #295091;
    background-color: white;
    padding: 3px 5px;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
}
.logo:hover{
	box-shadow: 0 0 10px 1px lightblue;
}
.logo:active{
	opacity: 0.5;
}
.kurs{
	display: flex;
	margin-right: auto;
}
.kurs-item{
	font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #285193;
    margin-left: 20px;
}
input{
	border: none;
	outline: none;
	width: 40px;
	height: 40px;
    border-radius: 5px;
	background-image: url(../img/search.svg);
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 22px;
	transition: width 0.2s linear;
}
input:focus{
	background-image: none;
	width: 120px;
}
.language-changer{
	width: 64.76px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
}
.language-link{
	display: flex;
	justify-content: center;
	align-items: center;
}
.language-img{
	border-radius: 50%;
}
.ru{
	font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
}
.tg-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 146px;
    height: 40px;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
}
.tg-link:hover{
	 background: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
}
.tg-link:active{
	opacity: 0.5;
}
.tg{
	font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 7px;
}
nav{
	background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
    width: 100%;
    height: 68px;
    margin-top: 44px;
    border: 0.1px solid transparent;
}
.nav-list{
	display: flex;
	justify-content: space-around;
	margin: 22px 24px;
}
.nav-link{
	font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #515151;
    padding-bottom: 5px;
    transition: border 0.1s ease;
}
.nav-link:hover{
	border-bottom: 2px solid #515151;
}
.nav-link:active{
	opacity: 0.5;
}
.active{
	color: #295091;
}
.header-aside{
	border: 1px solid #E0E0E0;
    margin-top: 18px;
    margin-bottom: 27px;
}
.aside-img{
	display: block;
}
.main-article{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px
}
article{
	width: 830px;
	border-bottom: 3px solid #EBEBEB;
	padding-bottom: 20px;
}
.article-h3{
	font-size: 24px;
    line-height: 28px;
}
.article-time{
	display: flex;
	align-items: center;
	margin: 15px 0px;
}
.article-time-span{
	font-size: 14px;
    line-height: 17px;
    color: #7688A4;
    margin-left: 5px;
}
.article-img{
	display: block;
}
.article-p{
	font-size: 18px;
    line-height: 21px;
}
.bold{
	font-weight: bold;
}
.article-links{
	margin-top: 40px;
}
.article-link{
	font-size: 18px;
    line-height: 21px;
    color: #28508E;
    margin-right: 10px;
}
.article-link:hover{
	text-decoration: underline;
}
.article-link:active{
	opacity: 0.5;
}
.right-news{
	width: 386px;
    background: #F6F6F9;
    border-radius: 5px;
    padding: 18px 25px;
    border: 0.1px solid transparent;
}
.reigt-news-title{
	font-size: 20px;
    line-height: 24px;
    color: #202020;
}
.right-news-item{
	border-bottom: 4px solid #E4E4E4;
	padding-bottom: 20px;
}
.right-news-item:last-child{
	border-bottom: none;
}
.right-news-p{
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 17px;
    line-height: 20px;
    color: #202020;
}
.right-news-p:hover{
	text-decoration: underline;
}
.right-news-p:active{
	opacity: 0.5;
}
.right-news-time{
	font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}
.ucell-link{
	display: inline-block;
	margin-top: 30px;
}
.ucell-link img{
	display: block;
}
.ucell-link:hover{
	box-shadow: 0 0 10px 2px lightblue;
}
.ucell-link:active{
	opacity: 0.5;
}
.main-news-list{
	display:flex;
	justify-content: space-between;
	margin-bottom: 18px;
}
.main-news-item{
	width: 387px;
}
.main-news-link{
	display: flex;
	flex-direction: column;
}
.main-news-link:hover{
	text-decoration: underline;
}
.main-news-link:active{
	opacity: 0.5;
}

.main-news-p{
	font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-top: 11px;
    margin-bottom: 11px;
}
.main-news-time{
	font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
}
footer{
	background-color: #295093;
	padding: 20px 0px;
}
.footer-tg-adress{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 3px solid #133C82;
}
.footer-link{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 194px;
    height: 38px;
    background: #133C82;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.footer-link:hover{
	box-shadow: 0 0 0px 2px black;
}
.footer-link:active{
	opacity: 0.5;
}
.footer-tg-p{
	font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.footer-tg-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 132px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 5px;
}
.footer-tg-link:hover{
	box-shadow: 0 0 0px 2px black;
}
.footer-tg-link:active{
	opacity: 0.5;
}
.footer-tg-link-p{
	font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
    margin-left: 5px;
}
.info-site{
	display: flex;
	margin-top: 20px;
}
.about-site{
	width: 365px;
    height: 121px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.about-site-p{
	margin-top: 10px;
}
.contackt-links{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px 120px;
	width: 163px;
	height: 106px;
}
.contackt-link{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.contackt-link:hover{
	opacity: 0.7;
}
.contackt-link:active{
	opacity: 0.5;
}
.sources{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 225px;
    height: 80px;
}
.documents{
	font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.documents:hover{
	opacity: 0.7;
}
.documents:active{
	opacity: 0.5;
}